body{
    background: slategray;
    background: linear-gradient(153deg, slategray 0%, rgb(89, 166, 211) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    
    height: 100%;
}
.container{
    width: auto;
    text-align: center;
    #title{
        color: white;
        font-size: 40px;
    }
    #login-form{
        width: fit-content;
        padding: 15px;
        margin: auto;
        background-color: white;
        border-radius: 35px;
        
        .form-group, .btn{
            margin: 10px;
        }
    }
}
input{
    width: 300px;
}